.post {
  box-shadow: 5px 5px 20px #03071e;
  background-color: #370617;
  text-align: center;
  transition: 200ms box-shadow ease-in-out;
}

.post:hover {
  box-shadow: 20px 20px 20px #03071e;
}

.post a {
  font-family: "Patrick Hand", cursive;
  color: #fff;
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
}

.image img {
  object-fit: cover;
}

.content {
  padding: 1rem;
}

.content h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.content time {
  color: #ffba08;
}

.content p {
  line-height: 1.5rem;
}
