.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: transparent;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 200ms;
}

.nav.isopen {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #03071e;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 300ms 100ms;
}

.nav.isopen::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.nav.isopen a {
  opacity: 1;
  transform: translateY(0);
}
.nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.nav ul,
.nav li {
  list-style: none;
  padding: 0;
}
.nav a {
  display: block;
  padding: 12px 0;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
}

.open {
  position: relative;
  right: 15px;
  z-index: 100000;
  background: none;
  border: 0;
  top: 0.5rem;
  cursor: pointer;
}
.open:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #d00000;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #d00000;
  transition: all 275ms;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.isopen .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.isopen .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.isopen .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
  color: #fff;
}

.container {
  display: flex;
}
